*{
  box-sizing: box;
  margin: 0;
  padding: 0;
}

.add{
  height: 150px;
  border-bottom: 5px solid #AACF52;
  text-align: center;
  color: #CB4829;
  font-size: 100px;
  background-color: #39A869;
  &__new{
    padding: 0 auto;
  }
}

.input-name{
  width: 100%;
  height: calc(100vh - 150px);
  background-color: #A5D4AD;
  padding-top: 20px;
  &__form{
    margin-left: 300px;
    height: 30px;
    width: 200px;
    &__btn{
      border: 1px solid #AACF52;
      background-color: #39a869;
      margin-top: 10px;
      text-align: center;
      height: 20px;
      width: 160px;
      margin: 20px 0 20px 420px;
    }
  }
}
  #add{
    border: 1px solid #F39800;
    text-align: center;
    background-color: #CB4829;
    position: relative;
    }    
  