*{
  box-sizing: box;
  margin: 0;
  padding: 0;
}

.items{
  height: 150px;
  border-bottom: 5px solid #AACF52;
  text-align: center;
  color: #CB4829;
  font-size: 100px;
  background-color: #39A869;
  &__show{
    padding: 0 auto;
  }
}

.items-table{
  width: 100%;
  height: calc(100vh - 150px);
  border-collapse: collapse;
  background-color: #A5D4AD;
  padding-top: 20px;
  &__space{
    margin-left: 465px;
  }
}
    table{
      border-collapse: collapse;
      border: 3px solid #AACF52;
      width: 800px;
      height: 80px;
        tr{
          display: table-row;
          vertical-align: inherit;
          border-color: inherit;
          th{
            background-color: #AACF52;
            font-weight: 400;
            padding: 8px;
            border: 3px solid #F39800; 
            font-size: 14px;
            text-align: center;
          }
          td{
            text-align: center;
            border: 3px solid #F39800; 
          }
        }
      }
    
