.primal
  .primal__top
    STOCK-APP 入荷・出荷

  .add
    .add__area
      =@stocks.name
      .add__area__text
        の在庫数を更新
  
    %table
      %tbody
        %tr
          %th.stock
            現在の在庫数

        %tr
          %td
            =form_with model: @stock do |f|
              =f.number_field :count ,url: stocks_path, placeholder: "増減数を入力"

    .items-table__update
      =link_to "更新",stock_path(@stocks.id), method: :patch, data: { confirm: '在庫数を変更しますか？' }      
      
           
      


      



