.primal
  .primal__top
    商品取消

  .items-table
    .items-table__head
      商品一覧
    %table
      %tbody
        %tr
          %th.name
            商品名
          %th.stock
            在庫数
          %th.inc-dec
            
        %tr
          %td
            トマト
          %td
            2
          %td
            取消