.items
  .items__top
    STOCKーAPP

  .items-table
    .items-table__head
      商品一覧
    %table
      %tbody
        %tr
          %th.name
            商品名
          %th.stock
            在庫数
        %tr
          %td
            トマト
          %td
            2