.primal
  .primal__top
    在庫の取消・増減

  .items-table
    .items-table__head
      商品一覧
    %table
      %tbody
        %tr
          %th.name
            商品名
          %th.stock
            在庫数
          %th.del
            取消
          %th.inc-dec
            増減
      - @stocks.each do |stock|
        %tr
          %td
            =stock.item
          %td
            =stock.stock
          %td
            = link_to icon('fa','trash'),stock_path(stock.id), method: :delete, data: { confirm: '削除してよろしいですか?' }
          %td
