.primal
  .primal__top
    在庫の増減

  .items-table
    .items-table__head
      商品一覧
    %table
      %tbody
        %tr
          %th.name
            商品名
          %th.stock
            在庫数
          %th.inc-dec
            在庫の増減
        %tr
          %td
            トマト
          %td
            2
          %td
            増やす　減らす