%header#stock
  .stocktop
    %ul.stocktop__title
      STOCKーAPP
      %li.stocktop__title__user
        聖徳八百屋
      %li#store.stocktop__title__user
        竹中
  
%main.menu
  .menu__top
    .menu__top__left
      メニュー
      %ul.menu__top__left__lists
        %li.menu__top__left__lists__btn
          = link_to "在庫確認", "stocks/show",class: "menu__top__left__lists__btn__link"
        %li.menu__top__left__lists__btn
          = link_to "商品追加", "stocks/new",class: "menu__top__left__lists__btn__link"
        %li.menu__top__left__lists__btn
          =link_to "チャット", "#",class: "menu__top__left__lists__btn__link"
        %li.menu__top__left__lists__btn
          =link_to "ログアウト", "#",class: "menu__top__left__lists__btn__link",id: "logout"
    .menu__top__right
      =image_tag 'vegetable.png'