%header.items
  .items__show
    .items__show__title
      商品一覧

%main.items-table
  .edit-stock
    = link_to "在庫数の調整", "stocks/edit",class: "edit-stock__link"
  %table.items-table__space
    %tr
      %th
        商品名
      %th
        在庫数
    %tr
      %td
        トマト
      %td
        ２ケース  ６個入り

%footer
  =  render "totop"





  